$grey-text: #6b7280;
$grey-background: #f3f4f6;
$yellow-background: #f5df84;
$grey-dots: #d2d6db;
$gradiant-grey: linear-gradient(
  50deg,
  rgba(253, 251, 251, 1) 0%,
  rgba(235, 237, 238, 1) 96%
);
$gradiant-red: linear-gradient(
  125deg,
  rgba(254, 230, 233, 1) 0%,
  rgba(252, 221, 222, 1) 78%
);
$gradiant-yellow: linear-gradient(
  125deg,
  rgba(254, 244, 229, 1) 0%,
  rgba(254, 233, 219, 1) 78%
);
$gradiant-blue: linear-gradient(
  125deg,
  rgba(232, 246, 254, 1) 0%,
  rgba(220, 242, 253, 1) 78%
);
