@import './base/colors', './base/fonts', './base/default';
@import './components/footer', './components/navbar', './components/hero',
  './components/about', './components/skills', './components/projects';

::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
}

::selection {
  background: rgba(220, 242, 253, 1) 78%; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(220, 242, 253, 1) 78%; /* Gecko Browsers */
}
