.about {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  .about-content {
    height: 450px;
    margin: 0 auto;
    padding: 50px 50px;
    display: flex;
    max-width: 1250px;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    background: $gradiant-blue;
    border-radius: 10px;
    position: relative;
    transition: transform 0.4s, box-shadow 0.4s;

    &:hover {
      transform: translateY(-10px);
    }

    .subtitle {
      z-index: 5;
    }

    .about-image {
      position: absolute;
      right: 0;
      bottom: -3px;
      margin: 0;
      padding: 0;
      height: auto;
      width: auto;

      img {
        max-height: 350px;
        border-radius: 10px;
      }
    }
  }
}

// Tablet
@media (min-width: 768px) {
  .about {
    padding: 0 50px;
    .about-content {
      .subtitle {
        color: #000;
      }
      .about-image {
        img {
          max-height: 575px;
        }
      }
    }
  }
}
// Desktop
@media (min-width: 1200px) {
  .about {
    .about-content {
      .subtitle {
        color: #000;
      }
      .about-image {
        img {
          max-height: 700px;
        }
      }
    }
  }
}
