.hero {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  .hero-content {
    max-width: 1500px;
    margin: 0 auto;
    padding: 5em;
  }

  .hero-text {
    .hero-uptitle {
      color: $grey-text;
      font-weight: 400;
      text-transform: uppercase;
    }

    .hero-title {
      font-weight: 700;
      position: relative;
      display: inline;
    }

    .hero-subtitle {
      margin-top: 1em;
      font-weight: 400;
      color: $grey-text;

      span {
        font-weight: 700;
      }
    }
  }
}
