.header {
  width: 100%;
  padding: 30px 60px;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.2em;
  font-weight: 400;
  color: #475569;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $yellow-background;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
  }
}

.nav-logo {
  font-size: 2em;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .header {
    border-bottom: 1px solid #e2e8f0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    // padding-top: 15px;
    // padding-bottom: 15px;
    // padding-left: 5px;
    // padding-right: 15px;
    padding: 0;
  }
  .navbar {
    padding: 1em 2em;
  }
  .nav-menu {
    position: fixed;
    z-index: 99;
    left: -100%;
    top: 4.5em;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid #e2e8f0;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.1);
  }
  .nav-logo {
    font-size: 1em;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
