.projects {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  .projects-title {
    text-align: center;
  }
  .projects-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2em;

    .projects-item {
      margin-left: 1em;
      margin-right: 1em;
      width: 100%;
      height: 250px;
      padding: 25px;
      border-radius: 6px;
      margin: 2em 0;
      box-shadow: 0px 15px 30px rgba(70, 72, 95, 0.2);
      transition: transform 0.4s, box-shadow 0.4s;
      background-repeat: no-repeat;

      .subTitle {
        margin-top: 15px;
        color: $grey-text;
      }

      &:hover {
        transform: translateY(-10px);
      }
      .project-item-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

.TraderAPi {
  background-color: #e7f6fe;
  background-image: url('../../assets/img/Trader_api_hero.svg');
  background-position: bottom right; //Bottem Right
  background-size: 300px;
}

.AirfieldManager {
  background-color: #fee5e8;
  background-image: url('../../assets/img/Sockets_hero.png');
  background-position: bottom -60px right -40px;
  background-size: 60%;
}

// Tablet
@media (min-width: 768px) {
  .projects {
    padding: 0 50px;
    .projects-content {
      .projects-item {
        padding: 50px;
        height: 450px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }
      .project-item-text {
        height: 100%;
      }
    }
  }
  .TraderAPi {
    background-size: 500px;
  }

  .AirfieldManager {
    background-position: bottom 25px right 25px;
    background-size: 300px;
  }
}

@media (min-width: 1200px) {
  .TraderAPi {
    background-size: 650px;
  }

  .AirfieldManager {
    background-size: 400px;
  }
}
