.projects {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  .projects-title {
    text-align: center;
  }
  .projects-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2em;

    .projects-item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-left: 1em;
      margin-right: 1em;
      width: 100%;
      height: auto;
      padding: 25px;
      border-radius: 6px;
      margin: 2em 0;
      box-shadow: 0px 15px 30px rgba(70, 72, 95, 0.2);
      transition: transform 0.4s, box-shadow 0.4s;

      .subTitle {
        margin-top: 15px;
        color: $grey-text;
      }

      &:hover {
        transform: translateY(-10px);
      }
      &:first-child {
        background: $gradiant-red;
      }

      &:nth-child(2) {
        background: $gradiant-yellow;
      }

      &:last-child {
        background: $gradiant-blue;
      }

      img {
        display: inline-block;
        vertical-align: middle;
        object-fit: contain;
        width: 100%;
        height: auto;
        max-height: 300px;
        padding: 15px;
      }

      .project-item-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

// Tablet
@media (min-width: 768px) {
  .projects {
    padding: 0 50px;
    .projects-content {
      .projects-item {
        padding: 50px;
        height: 450px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }

      img {
        max-width: 400px;
        max-height: 500px;
        padding: 30px;
      }

      .project-item-text {
        height: 100%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .projects .projects-content .projects-item {
    img {
      max-width: 500px;
      max-height: 500px;
      padding: 30px;
    }
  }
}
